<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Scuffy APP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Подключаем CSS из папки static -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://rsms.me">
        <link rel="stylesheet" href="https://rsms.meinter/inter.css">
    </head>
    <body>
        <div class="Main"> <!-- Добавил класс Main, который есть в вашем CSS -->
            <div align="center">
                <!-- Подключаем картинку из папки static -->
                <a href="https://t.me/makescuffy">
                    <img class="sc_banner" src="{{ url_for('static', filename='scuffy_banner.png') }}">
                </a>

            </div>
            <div class="textbal">
                <h1>Your Balance</h1>
            </div>
        </div>
    </body>
</html>
