:root { 
    font-family: 'Inter', sans-serif; 
}

@supports (font-variation-settings: normal) {
  :root { 
      font-family: 'Inter var', sans-serif; 
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1E2226;
}

.Main {
    width: 100%;
    padding: 25px;
    text-align: center;
    }

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.sc_banner {
    width: 320px;
    margin-top: 15%;
    border-radius: 20px;
    object-fit: cover;
    border: 2px solid #575A60;
    margin-bottom: 5%;
}

.textbal {
    background: #2E3038;
    border: 2px solid #575A60;
    width: 320px;
    height: 200px;
    border-radius: 20px;
    font-family: 'Inter var', sans-serif;
    font-weight: 200;
    color: #ffffff;
    font-size: 15px;
    margin: 0 auto;
}

.textbal h1 {
    font-family: 'Inter var', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
    margin-left: 5%;
}